body {
    color: #191970;
}
img {
    width: 150px;
    height: auto;
}
.nb_des, .nb_face {
    width: 50px;
    border-radius: 3px;
}
caption {
    font-size: 2em;
    text-align: left;
}
#retrait_serie {
    display: none;
}
.bouton {
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border-color: #00BFFF;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}
.conteneur_des {
    padding: 20px;
    display: inline-block;
    background: url('../images/fond_des.png');
    border: solid;
    border-width: 5px;
    border-color: #8B4513;
    border-radius: 20px;
    margin-bottom: 20px;
}
